<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Suivi pilote CFS</title>

  <!-- PWA -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="theme-color" content="#1e2a4a" />

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script defer src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
  <div class="app">

    <header class="app-header">
      <div class="live live-left">
        <span></span><small id="live-status">LIVE</small>
      </div>

      <h1 class="title">Suivi pilote CFS</h1>

      <div class="live live-right">
        <span></span><small id="flag-status">—</small>
      </div>

      <p class="subtitle">Trouver votre pilote parmi toute la meute</p>
      <p class="subtitle" id="time-status"></p>
    </header>

    <main class="main">
      <form id="search-form" class="search">
        <input id="search-input" class="search-input" placeholder="Nom ou numéro" />
        <button class="btn-go" type="submit">GO</button>
      </form>

      <div class="results" id="results">Saisis un numéro ou un nom.</div>
    </main>

    <footer class="footer-note">
      Développé par un passionné. Version V2 en cours (objectif: historique + filtres + accès premium).
    </footer>

  </div>
</body>
</html>
